<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
</head>
<body>
    <h1> Edit a User </h1>
    <form action="/{{user.id}}/edit" method="POST">
        <input type="text" name="first_name" placeholder="Enter a first name">
        <input type="text" name="last_name" placeholder="Enter a last name">
        <input type="text" name="image_url" placeholder="Provide an image of this user">
        <button>Save</button>
    </form>
    <a href="/{{user.id}}">Cancel</a>
</body>
</html>