<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Tag</title>
</head>
<body>
    <h1> Edit a Tag </h1>
    <form action="/tags/{{tag.id}}/edit" method="POST">
        <label for="name_of_tag"> Name </label>
        <input type="text" name="name_of_tag" placeholder="Enter a tag name">
        <button>edit</button>
    </form>
    <a href="/tags/{{tag.id}}">Cancel</a>
</body>
</html>